@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

:root {
/*- Dark Blue (intro and email sign up background): hsl(217, 28%, 15%)*/
--DarkBlue-1: hsl(217, 28%, 15%);
/*- Dark Blue (main background): hsl(218, 28%, 13%)*/
--DarkBlue-2: hsl(218, 28%, 13%);
/*- Dark Blue (footer background): hsl(216, 53%, 9%)*/
--DarkBlue-3: hsl(216, 53%, 9%);
/*- Dark Blue (testimonials background): hsl(219, 30%, 18%)*/
--DarkBlue-4: hsl(219, 30%, 18%);
--Grey: #CBD5E1;

/*- Cyan (inside call-to-action gradient): hsl(176, 68%, 64%)*/
--Cyan: hsl(176, 68%, 64%);
/*- Blue (inside call-to-action gradient): hsl(198, 60%, 50%)*/
--Blue: hsl(198, 60%, 50%);
/*- Light Red (error): hsl(0, 100%, 63%)*/
--Red: hsl(0, 100%, 63%);

--White: hsl(0, 0%, 100%);

}

*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: var(--White);
}

body, html {
    font-size: 62.5%;
}

body {
    background-color: var(--DarkBlue-2);
    margin: 0 auto;
    list-style-type: none;
    max-width: 1440px;
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
}

section, footer, main {
    padding: 3rem 10rem;
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2rem;
}

p, a {
    font-size: 1.6rem;
}

/* ---------- INTRO ---------- */

.intro {
    background-color: var(--DarkBlue-1);
    background-image: url(images/bg-curvy-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 100%;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav nav ul {
    display: flex;
}

.nav nav ul li a {
    color: var(--Grey);
    padding: 1rem 2rem;
}

.nav nav ul li a:hover {
    color: var(--White);
    border-bottom: 1px solid var(--White);
}

.illustration {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.illustration h2, .illustration p {
    text-align: center;
    max-width: 72rem;
    margin-top: 2rem;
}

.illustration a {
    margin-top: 3rem;
    padding: 2rem 8rem;
    background-image: linear-gradient(to right, var(--Cyan), var(--Blue));
    border-radius: 40px;
}

.illustration a:hover {
    background-image: none;
    background-color: var(--Cyan);
}

/* ---------- SECTION ADVANTAGES ---------- */

.advantages {
    padding-top: 10rem;
    display: grid;
    place-items: center;
    justify-content: center;
    grid-template-columns: 250px 250px;
    column-gap:10rem;
    row-gap: 7rem;
}

.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.grid-item img, .grid-item h3, .grid-item p {
    margin: .75rem 0;
}

.grid-item p {
    color: #CBD5E1;
}

/* ---------- SECTION PRODUCTIVE ---------- */

.productive {
    display: flex;
}


.productive div p, .productive div h2, .productive div a {
    display: block;
    margin-top: 2rem;
}

.productive p {
    color: #CBD5E1;
}

.productive img, .productive div {
    padding: 0 2rem;
}

.productive div {
    align-self: center;
}

.productive div a {
    color: var(--Cyan);
    border-bottom: 1px solid var(--Cyan);
    width: fit-content;
    padding-bottom: .5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.productive div a:hover {
    color: var(--Gray);
    border-bottom: 1px solid #CBD5E1;

}

.productive div a:hover svg g[transform="translate(2 2)"] use:last-child {
    fill: #CBD5E1;
}

/* ---------- SECTION CARDS ---------- */

.cards {
    background-image: url(images/bg-quotes.png);
    background-repeat: no-repeat;
    background-position: 7% 0%;
    display: flex;
    gap: 2rem;
}

.card {
    box-shadow: rgba(255, 255, 255, 0.075) 0px 3px 8px;
    background-color: var(--DarkBlue-4);
    padding: 3rem;
    border-radius: 5px;
}

.profile-image {
    border-radius: 100%;
    width: 4rem;
    height: 4rem;
}

.card div {
    display: flex;
}

.card p {
    margin-bottom: 1.5rem;
}

.profile-description {
    flex-direction: column;
    margin-left: 1rem;
}

.profile-description p {
    margin-bottom: .5rem;
    font-size: 1.4rem;
}

.profile-description span {
    color: #CBD5E1;
    font-size: 1.2rem;
}

/* ---------- SECTION FORM ---------- */
.form {
    margin: 0 auto;
    width: 60%;
    background-color: var(--DarkBlue-1);
    box-shadow: rgba(0, 0, 0, .2) 0px 3px 8px;
    border-radius: 5px;
    text-align: center;
    position: relative;
    top: 8rem;

}

.form form {
    display: flex;
    gap: 3rem;
    margin-top: 2rem;
}

.form p {
    margin: 2rem 0;
    color: #CBD5E1;
}

.form form input {
    padding: 1rem 2rem;
    border: none;
    border-radius: 50px;
}

.form form input:first-child {
    width: 70%;
    color: #000;
}

.form form input:last-child {
    background-image: linear-gradient(to right, var(--Cyan), var(--Blue));
}

/* ---------- FOOTER ---------- */
footer {
    background-color: var(--DarkBlue-3);
    padding: 15rem 10rem;

}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

}

.footer div:first-child {
    width: 30rem;
}

.footer div p {
    margin-top: 1.5rem;
}

.footer div img:not(.logo) {
    margin-right: 1rem;
    height: 12px;
}

.footer div ul li {
    font-size: 1.6rem;
    padding: .75rem 0;
}

.footer div i {
    font-size: 1.6rem;
    padding: .75rem;
    margin-left: .75rem;
    width: 3.3rem;
    text-align: center;
    border: 1px solid #CBD5E1;
    border-radius: 100vw;
}

@media (max-width: 980px) {
    body, html {
        font-size: 60%;
    }

    section, main {
        padding: 3rem 6rem;
    }
    
    /* ---------- INTRO ---------- */
    .logo{
        width: 120px;
    }

    /* ---------- SECTION PRODUCTIVE ---------- */
    .productive {
        flex-direction: column;
    }

    .productive img, .productive div {
        padding: 2rem 0;
    }

    /* ---------- SECTION CARDS ---------- */
    .card {
        padding: 2rem;
    }
    /* ---------- SECTION FOOTER ---------- */
    footer {
        padding: 10rem 6rem;
    }

    .footer div:first-child {
        width: 25rem;
    }

    .footer div i {
        padding: .75rem;
        margin-left: .05rem;
    }

}

@media (max-width: 820px) {
    body, html {
        font-size: 53%;
    }

}

@media (max-width: 720px) {
    body, html {
        font-size: 50%;
    }
    /* ---------- INTRO ---------- */
    .logo {
        width: 100px;
    }
    .nav nav ul li a {
        padding: 0 1rem;
    }

    /* ---------- SECTION ADVANTAGES ---------- */
    .illustration img {
        width: 100%;
    }


    /* ---------- SECTION ADVANTAGES ---------- */
    .advantages {
        grid-template-columns: 300px;
    }

    /* ---------- SECTION PRODUCTIVE ---------- */
    .productive {
        flex-direction: column;
    }

    /* ---------- SECTION CARDS ---------- */
    .cards {
        flex-direction: column;
        align-items: center;
    }
    
    .card {
        width: 100%;
    }
    
    /* ---------- SECTION FORM ---------- */
    .form {
        width: 90%;
    }
    .form form {
        display: flex;
        flex-direction: column;
        gap: 1.5rem 0;
    }

    .form form input:first-child, .form form input:last-child {
        display: block;
        width: 100%;
    }
    /* ---------- SECTION FOOTER ---------- */
    .footer {
        flex-direction: column;
    }

    .footer div {
        width: 100%;
    }

    .footer div:first-child {
        width: 100%;
    }

    .footer div ul {
        margin: 3rem 0;
    }

    .footer div.socials-icons {
        display: flex;
        justify-content: center;
    }

    footer .socials-icons i {
        margin: 0 .75rem;
    }


}

@media (max-width: 580px) {
    section, main {
        padding: 3rem 5rem;
    }

    /* ---------- INTRO ---------- */
    .logo {
        width: 80px;
    }
    
    .nav nav ul li a {
        padding: 0 .5rem;
    }
}